html, body {
  margin: 0;
  padding: 0;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  display: inline-block; }

.main-contain {
  text-align: center; }

.back-button {
  background: #BB4444;
  border-radius: 4px;
  border: 2px solid #BBADA0;
  padding: 0;
  cursor: pointer;
  border-color: #BB4444; }

.back-button:active {
  background: #7C6958;
  border-radius: 4px;
  border: 2px solid #BBADA0;
  border-color: #BB4444; }

.back-button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
  background: #BBADA0; }

.box-body, #play1-box-body, #play2-box-body {
  border-color: #BBADA0;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  z-index: 1; }

.base-border, .base-box-score, #player1-scare, #player2-scare, #player1viewer-scare, #player1-name, #player2-name, #player1viewer-name, #timerviewer-div, #player2viewer-name, #timer-div, #gamemsgspan {
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  height: 50px; }

.base-box-score .score-title, #player1-scare .score-title, #player2-scare .score-title, #player1viewer-scare .score-title {
  height: 25px;
  line-height: 25px;
  font-size: 10px;
  content: "Score";
  margin: auto;
  color: white; }

.base-box-score .score-content, #player1-scare .score-content, #player2-scare .score-content, #player1viewer-scare .score-content {
  height: 25px;
  margin: auto;
  font-weight: bold;
  color: white; }

.box-row-border, .play1-box-row-border, .play2-box-row-border, .play2viewer-box-row-border, .play1viewer-box-row-border {
  z-index: 3;
  width: 2px;
  height: 50px;
  background: #BBADA0;
  text-align: center;
  float: left;
  border-width: 0px;
  position: relative; }

.box-column-border, .play1-box-column-border, .play2-box-column-border, .play2viewer-box-column-border, .play1viewer-box-column-border {
  z-index: 3;
  height: 2px;
  background: #BBADA0;
  text-align: center;
  border-width: 0px;
  position: relative; }

.play1-box-column-border {
  width: 210px;
  background: #BB4444; }

.play1-box-row-border {
  height: 50px;
  background: #BB4444; }

#play1-box-body {
  border-color: #BB4444; }

#player1-scare {
  background: #BB4444;
  border-color: #BB4444;
  float: left;
  width: 21%; }

#player1-name {
  background: #BB4444;
  border-color: #BB4444;
  float: left;
  width: 27%;
  margin-left: 2px;
  padding: 0px;
  text-align: center;
  line-height: 50px; }

.box {
  z-index: 3;
  width: 50px;
  height: 50px;
  text-align: center;
  float: left;
  border-color: #BBADA0;
  border-width: 0px;
  border-style: solid;
  position: relative; }

.play2-box-column-border {
  width: 154px;
  background: #50798B; }

.play2-box-row-border {
  height: 36px;
  background: #50798B; }

#play2-box-body {
  border-color: #50798B; }

#player2-scare {
  background: #50798B;
  border-color: #50798B;
  float: left;
  width: 46%;
  margin-bottom: 1px; }

#player2-name {
  background: #50798B;
  border-color: #50798B;
  float: left;
  width: 47%;
  margin-left: 2px;
  margin-bottom: 1px; }

.box2 {
  z-index: 3;
  width: 36px;
  height: 36px;
  text-align: center;
  float: left;
  border-color: #BBADA0;
  border-width: 0px;
  border-style: solid;
  position: relative; }

.box2-number {
  margin-top: 8px; }

.play2viewer-box-column-border {
  width: 290px;
  background: #50798B; }

.play2viewer-box-row-border {
  height: 70px;
  background: #50798B; }

.play1viewer-box-column-border {
  width: 290px;
  background: #BB4444; }

.play1viewer-box-row-border {
  height: 70px;
  background: #BB4444; }

#play1viewerdivcss {
  float: left; }

#play2viewerdivcss {
  float: left; }

.box2viewer {
  z-index: 3;
  width: 70px;
  height: 70px;
  text-align: center;
  float: left;
  border-color: #BBADA0;
  border-width: 0px;
  border-style: solid;
  position: relative; }

.box1viewer {
  z-index: 3;
  width: 70px;
  height: 70px;
  text-align: center;
  float: left;
  border-color: #BBADA0;
  border-width: 0px;
  border-style: solid;
  position: relative; }

#player1viewer-scare {
  background: #BB4444;
  border-color: #BB4444;
  float: left;
  width: 46%;
  margin-bottom: 1px; }

#player1viewer-name {
  background: #BB4444;
  border-color: #BB4444;
  float: left;
  width: 50%;
  margin-left: 2px;
  margin-bottom: 1px; }

#timerviewer-div {
  width: 50%;
  margin: 0px auto;
  background: #BBADA0;
  border-color: #BBADA0;
  margin-bottom: 5px; }
  #timerviewer-div #gametimespanviewer {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 8px; }

#player2viewer-name {
  background: #50798B;
  border-color: #50798B;
  float: left;
  width: 50%;
  margin-left: 2px;
  margin-bottom: 1px; }

.box-row {
  z-index: 2;
  text-align: center;
  display: table-row;
  background-color: #CDC1B4; }
  .box-row:after {
    content: "";
    display: block;
    clear: both; }

.mask-body {
  width: 214px;
  height: 214px;
  background-color: rgba(51, 26, 0, 0.3);
  z-index: 100;
  line-height: 214px;
  margin: 0 auto;
  position: absolute;
  border-radius: 4px;
  /*margin-top:65px;
    margin-left:($main-width/2) * (-1);
    line-height:($main-width/2) + 30;*/ }

#timer-div {
  width: 41%;
  background: #BBADA0;
  border-color: #BBADA0;
  margin-bottom: 2px;
  margin-left: 2px;
  float: right; }
  #timer-div #gametimespan {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 8px; }

#gamemsgspan {
  float: left;
  margin-top: 2px;
  width: 70%;
  height: 30px;
  line-height: 30px;
  background: #BBADA0;
  border-color: #BBADA0; }

#play1divcss {
  float: left; }

#play1divcss:before,
#play1divcss:after {
  content: "";
  display: table; }

#play1divcss:after {
  clear: both; }

#play1divcss {
  *zoom: 1;
  /*For IE 6&7 only*/ }

#play2divcss {
  margin-left: 2px;
  float: left; }

#readybtn {
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
  background-color: #7d5d3b;
  border-radius: 3px;
  border: 1px solid #54381e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534;
  float: left;
  margin-top: 4px;
  margin-left: 2px;
  width: 28%;
  height: 30px; }

#readybtn:hover {
  background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
  background-color: #634b30; }

#readybtn:active {
  position: relative;
  top: 1px; }

#readybtn:disabled {
  opacity: 0.75;
  cursor: not-allowed; }

.css_table {
  display: table; }

.css_tr {
  display: table-row; }

.css_td {
  display: table-cell; }

.css_td span {
  margin-right: 1em; }

@media only screen and (max-width: 480px) {
  #timer-div {
    float: none;
    width: 98%; }
  #player1-scare {
    width: 41%; }
  #player1-name {
    width: 41%; }
  #play1divcss {
    float: none;
    margin-top: 57px; }
  #play2divcss {
    float: none;
    margin-top: 2px; }
  #play2-box-body {
    display: none; }
  #player2-name {
    width: 49%; }
  #readybtn {
    width: 98%;
    background-color: red; }
  #gamemsgspan {
    width: 98%;
    float: none; } }

#capture-range-div:before,
#capture-range-div:after {
  content: "";
  display: table; }

#capture-range-div:after {
  clear: both; }

#capture-range-div {
  *zoom: 1;
  /*For IE 6&7 only*/ }

