$box-width: 50px;
$box-height: 50px;
$box-radius: 4px;
$box-margin: 5px;
$box-background:#776E65;
$border-color:#BBADA0;
$box-border-width:2px;
$root-background:#FAF8EF;

$smallbox-width:30px;
$main-width:$box-width*4+$box-border-width*10;
$text-color: #776E65;

$bottom-box-width:100px;
$bottom-box-height:30px;
$button-active-color:#7C6958;

html, body {  
  margin: 0;
  padding: 0;
  background: $root-background;  
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  text-align:center;
  display:inline-block;
}

.main-contain{
  text-align:center;
  
  margin-top:50px;
}


.title{
    font-size:45px;
    font-weight: bold;
    float: left;
        
    position:relative;
    margin-top:($box-height/4);
}


.box-score{
    width:$box-width;
    height:$box-height;
    background:$border-color;
    border-color:$border-color;
    border-width:$box-border-width;
    border-style:solid;
    border-radius: $box-radius;
    float: right;
    .score-title
    {
        height:$box-height/2;
        font-size:10px;
        content:"Score";
        margin:auto;
        color:white;
    }
    .score-content
    {
        height:$box-height/2;
        margin:auto;
        font-weight: bold;
        color:white;
    }
}

.replay-button{
    text-align:right;
    margin-right:$box-width + 15px;
}

.upstep-button{
    text-align:right;
    margin-top:1px;
    margin-right:$box-width + 15px;
}

.back-button{
    background:$border-color;
    border-radius: $box-radius;
    border:$box-border-width solid $border-color;
    padding:0;
    cursor:pointer;
}
.back-button:active{
    background:$button-active-color;
    border-radius: $box-radius;
    border:$box-border-width solid $border-color;
}
.back-button:disabled{
    opacity: 0.75; 
    cursor: not-allowed;
}

.box-body{
    border-color:$border-color;
    border-width:$box-border-width;
    border-style:solid;
    border-radius: $box-radius;
    display:table;
    text-align:center;
    display:inline-block;
    z-index:1;
    
}

.box{
    z-index:3;
    width: $box-width;
    height: $box-height;
    background: $box-background;
    text-align:center;
    float: left;
        
    border-color:$border-color;
    border-width:0px;
    border-style:solid;
    

    /*position: absolute;*/
    position:relative;
}

.box-row-border{
    z-index:3;
    width: $box-border-width;
    height: $box-height;
    background: $border-color;
    text-align:center;
    float: left;
    border-width:0px;
        
    /*position: absolute;*/
    position:relative;
}

.box-column-border{
    z-index:3;
    
    height: $box-border-width;
    background: $border-color;
    text-align:center;
    border-width:0px;
        
    /*position: absolute;*/
    position:relative;
}


.box-row{
    z-index:2;
  text-align:center;
  display: table-row;
  background-color:#CDC1B4;
  &:after {
      content: "";
      display: block;
      clear: both;
    }
}

.mask-body{
    /*width:$main-width;
    height:$main-width;*/
    background-color:rgba(20%,10%,0%,0.3);
    z-index:100;
    display:inline-block;
    position:absolute;
    border-radius: $box-radius;
    /*margin-top:65px;
    margin-left:($main-width/2) * (-1);
    line-height:($main-width/2) + 30;*/
}


.FB-share{
    background:$border-color;
    border-color:$border-color;
    border-radius: $box-radius;
    width:$bottom-box-width;
    height:$bottom-box-height;
    cursor:pointer;
    float:left;
    .FB-logo
    {
        height:$bottom-box-height - 6px;
        width:20px;
        background:white;
        border-radius: $box-radius;
        line-height:$bottom-box-height - 6px;
        margin-top:3px;
        margin-left:5px;
        margin-bottom:3px;
        font-size:22px;
        font-weight: bold; 
        text-align:center;
        content:"F";
        color:$border-color;
        float:left;
    }
    .share-content
    {
        height:$bottom-box-height;
        line-height:$bottom-box-height;
        content:"SHARE";
        margin:0 auto;
        margin-right:5px;
        color:white;
        float:right;
    }
}


.FB-share:active{
    background:$button-active-color;
}

.Hight-scare{
    background:$border-color;
    border-color:$border-color;
    border-radius: $box-radius;
    width:$bottom-box-width+10px;
    height:$bottom-box-height;
    float:right;
    .score-best-title
    {
        height:$bottom-box-height;
        line-height:$bottom-box-height;
        content:"BEST";
        font-weight: bold;
        margin-left:5px;
        color:white;
        float:left;
    }
    .score-best
    {
        height:$bottom-box-height;
        line-height:$bottom-box-height;
        margin:0 auto;
        margin-right:5px;
        color:white;
        float:right;
    }
}



 