html, body {
  margin: 0;
  padding: 0;
  background: #FAF8EF;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  display: inline-block; }

.main-contain {
  text-align: center;
  margin-top: 50px; }

.title {
  font-size: 45px;
  font-weight: bold;
  float: left;
  position: relative;
  margin-top: 12.5px; }

.box-score {
  width: 50px;
  height: 50px;
  background: #BBADA0;
  border-color: #BBADA0;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  float: right; }
  .box-score .score-title {
    height: 25px;
    font-size: 10px;
    content: "Score";
    margin: auto;
    color: white; }
  .box-score .score-content {
    height: 25px;
    margin: auto;
    font-weight: bold;
    color: white; }

.replay-button {
  text-align: right;
  margin-right: 65px; }

.upstep-button {
  text-align: right;
  margin-top: 1px;
  margin-right: 65px; }

.back-button {
  background: #BBADA0;
  border-radius: 4px;
  border: 2px solid #BBADA0;
  padding: 0;
  cursor: pointer; }

.back-button:active {
  background: #7C6958;
  border-radius: 4px;
  border: 2px solid #BBADA0; }

.back-button:disabled {
  opacity: 0.75;
  cursor: not-allowed; }

.box-body {
  border-color: #BBADA0;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  display: table;
  text-align: center;
  display: inline-block;
  z-index: 1; }

.box {
  z-index: 3;
  width: 50px;
  height: 50px;
  background: #776E65;
  text-align: center;
  float: left;
  border-color: #BBADA0;
  border-width: 0px;
  border-style: solid;
  /*position: absolute;*/
  position: relative; }

.box-row-border {
  z-index: 3;
  width: 2px;
  height: 50px;
  background: #BBADA0;
  text-align: center;
  float: left;
  border-width: 0px;
  /*position: absolute;*/
  position: relative; }

.box-column-border {
  z-index: 3;
  height: 2px;
  background: #BBADA0;
  text-align: center;
  border-width: 0px;
  /*position: absolute;*/
  position: relative; }

.box-row {
  z-index: 2;
  text-align: center;
  display: table-row;
  background-color: #CDC1B4; }
  .box-row:after {
    content: "";
    display: block;
    clear: both; }

.mask-body {
  /*width:$main-width;
    height:$main-width;*/
  background-color: rgba(51, 26, 0, 0.3);
  z-index: 100;
  display: inline-block;
  position: absolute;
  border-radius: 4px;
  /*margin-top:65px;
    margin-left:($main-width/2) * (-1);
    line-height:($main-width/2) + 30;*/ }

.FB-share {
  background: #BBADA0;
  border-color: #BBADA0;
  border-radius: 4px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  float: left; }
  .FB-share .FB-logo {
    height: 24px;
    width: 20px;
    background: white;
    border-radius: 4px;
    line-height: 24px;
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 3px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    content: "F";
    color: #BBADA0;
    float: left; }
  .FB-share .share-content {
    height: 30px;
    line-height: 30px;
    content: "SHARE";
    margin: 0 auto;
    margin-right: 5px;
    color: white;
    float: right; }

.FB-share:active {
  background: #7C6958; }

.Hight-scare {
  background: #BBADA0;
  border-color: #BBADA0;
  border-radius: 4px;
  width: 110px;
  height: 30px;
  float: right; }
  .Hight-scare .score-best-title {
    height: 30px;
    line-height: 30px;
    content: "BEST";
    font-weight: bold;
    margin-left: 5px;
    color: white;
    float: left; }
  .Hight-scare .score-best {
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    margin-right: 5px;
    color: white;
    float: right; }

