.ui-tabs-vertical { width: auto; }
.ui-tabs-vertical a { text-decoration: none;}
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}



#Header { width: auto; height:auto; text-align:center; line-height:60px; background-color:#0000f9; }
#Sidebar{ width:auto;float:left;height:auto;text-align:left;}
#Body{width:auto;height:auto;text-align:left;background-color:#fffaf3;float:left;}
#Footer{width:auto;height:200px;text-align:center;line-height:60px;background-color:#0000f9;position: relative;margin-top: -200px;}
        