#verticalTags .ui-tabs-vertical { width: auto; height:99%;background:#aaaaff}
#verticalTags .ui-tabs-vertical a { text-decoration: none;}
#verticalTags .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 97%; }
#verticalTags .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
#verticalTags .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
#verticalTags .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
#verticalTags .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
#verticalTags .ui-widget-header {border:none}
#verticalTags .ui-widget-content{border:none}


#Header { width: 100%; height:90px; text-align:center; line-height:80px; background-color:#aaaaff; margin-bottom:5px;}
#Sidebar{ width:15%;float:left;height:calc(100% - 210px);text-align:left;}
#Body{width:85%;height:auto;text-align:left;background-color:#fffaf3;float:left;}
#Footer{width:100%;height:120px;text-align:center;line-height:40px;background-color:#aaaaff;position: absolute;margin-top:5px;}
        