<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="css/leaderboard.css" rel="stylesheet" />
</head>
<body>


<div id="lb2" class="table">
    <div class='row'>
        <header-component :columns="lbs[0]"></header-component>
    </div>

    <template v-for="lb of lbs">
        <div class='row'>
            <row-component :columns="lb"></row-component>
        </div>
    </template>



    <template id="headerComponentTemplate">
        <template v-for="(key, val) of columns">
            <header-cell :text="key"></header-cell>
        </template>
    </template>

    <template id="rowComponentTemplate">
        <row-cell :text="columns.rank"></row-cell>
        <row-cell :text="columns.名稱"></row-cell>
        <row-cell :text="columns.分數"></row-cell>
        <row-cell :text="columns.時間"></row-cell>
        <row-button-cell text="截圖" :ssid="columns.截圖"></row-button-cell>
    </template>

    <template id="rowButtonCellTemplate">
        <div class='cell2'>
            <input type="button" v-on:click="onClicked" :value="text" v-show="!btnDisable"></input>
        </div>
    </template>
</div>


    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="js/leaderboard2.js"></script>
    <script src="js/utility.js"></script>

<script>
    $(document).ready(() => {
        var size = getURLParameter(location.href, "size");
        if (size === undefined || size === null)
            size = 4;


        $.ajax({
            url: '/getleaderboarddata',
            datatype: "json",
            method: "POST",
            data: { rowcount: 50, mapsize: size },
            complete: function (response) {
                console.log(response);
                if (response.status === 200) {
                    var data = response.responseJSON;
                    if (data !== undefined && data !== null && data.data !== undefined && data.data !== null)
                        vm.restoreArray(data.data);
                }
            }
        });
    });


</script>

</body>
</html>