<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    
</head>
<body>

<div id="app">
    <input v-model="newTodo" v-on:keyup.enter="addTodo"/>
    <ul>
        <li v-for="todo in todos">
            <span>{{ todo.text }}</span>
            <button v-on:click="removeTodo($index)">X</button>
        </li>
    </ul>
   
</div>



    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="js_out/app.js"></script>
</body>
</html>