<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<style>
    #collaboration01-table { border: solid;border-width: thin;text-align: left; margin-left:1em;}
    #collaboration01-table td{padding: 5px;}
    #collaboration01-table th{padding: 5px;}
    .collaboration01-table-title { border: solid;border-width: thin;}
     
</style>

<h2>分工</h2>
<table id="collaboration01-table">
    <tr>
        <td class="collaboration01-table-title">姓名</td>
        <td class="collaboration01-table-title">稱號</td>
        <td class="collaboration01-table-title">擅長</td>
    </tr>
    <tr>
        <th>Edar.Tsai</th>
        <td>視覺總監</td>
        <td>View畫面製作、視覺風格設計</td>
    </tr>
    <tr>
        <th>Jim.Liu</th>
        <td>邏輯控管</td>
        <td>遊戲邏輯、打雜</td>
    </tr>
</table>
    
</body>
</html>