<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<p>本 Project 由
    <a href="mailto:edar@mitake.com.tw?Subject=aboutGame2048" target="_top">Edar #1021</a>
    、
    <a href="mailto:jim.liu@mitake.com.tw?Subject=aboutGame2048" target="_top">Jim #1025</a>
    共同設計
</p>
    <p>Github Link : <a href="https://edartsai.github.io/TeamWork2048V2/" target="_top">https://edartsai.github.io/TeamWork2048V2/</a>  </p>
</body>
</html>