<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script>
        $(function () {
            $("#problems03tabs").tabs();
        });
    </script>

</head>
<body>
    <style>
        #problems03tabs {
            margin-left: 2em;
        }
    </style>

    <h3 style="margin-left: 1em;">3. 置中問題</h3>
    <div id="problems03tabs">
        <ul>
            <li><a href="#problems03tabs-1">1.水平置中</a></li>
            <li><a href="#problems03tabs-2">2.垂直置中</a></li>
            <li><a href="#problems03tabs-3">3.</a></li>
            <li><a href="#problems03tabs-4">4.</a></li>
            <li><a href="#problems03tabs-5">5.</a></li>
            
        </ul>
        <div id="problems03tabs-1">
            
        </div>
        <div id="problems03tabs-2">
            
        </div>
        <div id="problems03tabs-3">
            
        </div>
        <div id="problems03tabs-4">
            
        </div>
        <div id="problems03tabs-5">
            
        </div>
        
    </div>

</body>
</html>