<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script>
        $(function () {
            $("#problems04tabs").tabs();
        });
    </script>
</head>
<body>
    <style>
        #problems04tabs {
            margin-left: 2em;
        }
    </style>
    <h3 style="margin-left: 1em;">4. 動畫</h3>

    <p>下一個階段要加入的動畫效果，動畫部分由css負責，動畫需要帶入起始位置和終點位置，由於一開始開發沒考慮這點，所以邏輯判斷部分需做修改。</p>
    <p>
        <a href="https://fiddle.jshell.net/quou5n69/3/" target="_blank" style="color:blue">
            css animation 動畫範例
        </a>
    </p>

</body>
</html>