<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

</head>
<body>
    <script type="text/javascript">
        $(function () {
            init();
        });

        function init() {
            initLeftTabs();
            
        }

        function initLeftTabs() {
            readmenufile();
            $("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
            $("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
        }

        var TabsList;

        function readmenufile() {
            var path = "intro/menu.json";

            $.ajax({
                url: path,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    loadleftmenu(data);
                    clicktab(0);
                },

                error: function () {
                    alert("ERROR!!!");
                }
            });
        }

        function loadleftmenu(objList) {
            if (objList === null || objList === undefined || objList.length <= 0)
                return;

            TabsList = objList;

            for (var i = 0; i < TabsList.length; i++) {
                addleftmenu(TabsList[i], i);
            }

        }

        function addleftmenu(obj, index) {
            var li = generate_lihtml(obj, index);
            $("#tabul").append(li);
        }

        function generate_lihtml(obj, index) {
            var li = "<li>";
            li += "<a href=\"#tabs-" + index + "\" onclick=\"clicktab(" + index + ");\">";
            li += obj.caption;
            li += "</a>";
            li += "</li>";
            return li;
        }

        function clicktab(index) {
            if (index < TabsList.length && TabsList[index] !== undefined) {
                if (TabsList[index].url === "")
                    $("#Body").load("intro/body.html");

                else {
                    if(TabsList[index].urltype === 0)       // load to sub div
                        $("#Body").load(TabsList[index].url);

                    else if (TabsList[index].urltype === 1) //外開
                        window.open(TabsList[index].url);
                }
            }
        }

    </script>

    <div id="tabs">
        <ul id="tabul"></ul>
    </div>
</body>
</html>