<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>使用技術</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="../js_lib/jquery-ui.min.js"></script>
   <!-- <link href="../css/jquery-ui.min.css" rel="stylesheet" />-->
    <script>
        $(function () {
            $("#technics01tabs").tabs();
        });
    </script>

</head>
<body>
<style>
    
#technics01-table {
        margin-left:2em;
        border: solid;
        border-width: thin;
        text-align: left;
    }


    #technics01tabs {margin-left:2em;}
    
    #technics01tabs h2 {
        color: darkblue;
    }

</style>

    <div id="technics01tabs">
        <ul>
            <li><a href="#technics01tabs-1">第一階段:實做</a></li>
            <li><a href="#technics01tabs-2">第二階段:美化</a></li>
            <li><a href="#technics01tabs-3">第三階段:整合</a></li>
        </ul>
        <div id="technics01tabs-1">
            <h2>實做</h2>
            <p>目標:</p>
            <ul>
                <li>遊戲功能建置</li>
                <li>展示網站建置</li>
            </ul>
            <p>技術:</p>
            <ul>
                <li>html</li>
                <li>javascript</li>
                <li>css</li>
            </ul>
        </div>
        <div id="technics01tabs-2">
            <h2>美化</h2>
            <p>目標:</p>
            <ul>
                <li>遊戲動畫</li>
                <li>Facebook 互動分享</li>
                <li>網站美化工作</li>
                <li>RWD框架</li>
                <li>瀏覽器相容性</li>
            </ul>
            <p>技術:</p>
            <ul>
                <li>scss</li>
                <li>jquery</li>
                <li>bootstrap</li>
                <li>facebook api</li>
                <li>other libs</li>
            </ul>
        </div>
        <div id="technics01tabs-3">
            <h2>整合</h2>
            <p>目標:</p>
            <ul>
                <li>以新前端框架技術重構遊戲及網站</li>
                <li>使用模組整合工具達到彈性包版</li>
                <li>SEO調校</li>
            </ul>
            <p>技術:</p>
            <ul>
                <li>reactjs</li>
                <li>webpack</li>
                <li></li>
            </ul>
        </div>

        
    </div>


</body>
</html>