<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="js_lib/html2canvas.js"></script>
    <script src="js/enum.js"></script>
    <script src="js/view.js"></script>
    <script src="js/utility.js"></script>
    <script src="js/iscando.js"></script>
    <script src="js/merge.js"></script>
    <script src="js/move.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/game2048style.min.css">
</head>
<body>
    <div id="fb-root"></div>
    <script src="js/fb.js"></script>
<script>
    
    //遊戲目前狀態
    var mapObj = {
        Size: 4,
        Map: [
            [0, 0, 0, 0],
            [0, 0, 0, 0],
            [0, 0, 0, 0],
            [0, 0, 0, 0]
        ],
        Score: 0,
        IsGameOver: false
    };
    //遊戲上一狀態
    var prevObj = {
        Size: 4,
        Map: [
            [0, 0, 0, 0],
            [0, 0, 0, 0],
            [0, 0, 0, 0],
            [0, 0, 0, 0]
        ],
        Score: 0,
        IsGameOver: false
    };
    var defaultTimesLeft = 3;
    var rollbackTimesLeft = defaultTimesLeft;

    function moveLeft() {
        if (Move(mapObj, DIRECTION.LEFT, prevObj)) {
            MappingArrayData(mapObj); //重繪Array
            SetRollbackButtonStatus(rollbackTimesLeft); //「上一步」按鈕狀態控制
        }
    }

    function moveRight() {
        if (Move(mapObj, DIRECTION.RIGHT, prevObj)) {
            MappingArrayData(mapObj); //重繪Array
            SetRollbackButtonStatus(rollbackTimesLeft); //「上一步」按鈕狀態控制
        }
    }

    function moveUp() {
        if (Move(mapObj, DIRECTION.UP, prevObj)) {
            MappingArrayData(mapObj); //重繪Array
            SetRollbackButtonStatus(rollbackTimesLeft); //「上一步」按鈕狀態控制
        }
    }


    function moveDown() {
        if (Move(mapObj, DIRECTION.DOWN, prevObj)) {
            MappingArrayData(mapObj); //重繪Array
            SetRollbackButtonStatus(rollbackTimesLeft); //「上一步」按鈕狀態控制
        }
    }

    function rollback() {
        if (rollbackTimesLeft > 0)
            rollbackTimesLeft--;
        else
            return;
        Clone(prevObj, mapObj); //將前一狀態倒回現在狀態
        MappingArrayData(mapObj); //重繪Array
        HideGameOverMask(); //假如有 GameOver，則將 Mask 隱藏
        DisableRollbackButton(); //關閉「上一步」
    }

    function reset() {
        Init(mapObj);
        rollbackTimesLeft = defaultTimesLeft; //重設 rollback time
        Clone(mapObj, prevObj); //紀錄狀態
        SetBestLabel(); //讀取最佳紀錄(from cookies)
        MappingArrayData(mapObj); //重繪Array
        HideGameOverMask(); //關閉GameOver Mask
        DisableRollbackButton(); //關閉「上一步」
    }

    function keyFunction() {
        if (event.keyCode === 37) {
            moveLeft();
        } else if (event.keyCode === 38) {
            moveUp();
        } else if (event.keyCode === 39) {
            moveRight();
        } else if (event.keyCode === 40) {
            moveDown();
        }
    }

    document.onkeydown = keyFunction;

    window.onload = function() {
        reset();
    };


    // 自行設定測試的 array 狀態
    function test() {
        mapObj = {
            Size: 4,
            Map: [
                [8, 8, 4, 4],
                [0, 0, 0, 0],
                [0, 0, 0, 0],
                [0, 0, 0, 0]
            ],
            Score: 0,
            IsGameOver: false
        };
        MappingArrayData(mapObj);
    }

    function capture() {
        var capturediv = document.getElementById("capture-range-div");  //capture 範圍
        if (capturediv === null || capturediv === undefined)
            return;
        capturePhoto(capturediv, onCaptureCompleted);
    }


    function onCaptureCompleted(arg) {
        if (arg === undefined || arg === null)
            return;

        var img = arg.detail.image;

        if (img === undefined || img === null)
            return;

        //post to fb
        //postToFbWall("Name", "Msg", "", img, "Caption", "Description");

        //test
        window.open(img);
    }

    

</script>

<div class="main-contain">

    <div class="mask-body" id="mask-body" style="visibility: collapse">
        <p style="font-size: 40px;">Game Over</p>
    </div>

    <div id="capture-range-div">
        <div class="box-header" style="height: 55px">
            <span class="title">2048</span>
            <!--分數-->
            <div class="box-score">
                <p class="score-title">SCORE</p>
                <p class="score-content" id="score">0</p>
            </div>
            <!--重玩-->
            <div class="replay-button" >
                <button class="back-button" id="resetbtn" type="submit" onclick="reset()">
                    <img src="images/b_brefresh_20_n.png" alt=""/>
                </button>
            </div>
            <!--上一步-->
            <div class="upstep-button" >
                <button class="back-button" id="rollbackbtn" type="submit" onclick="rollback()">
                    <img src="images/b_back_btn_20_p.png" alt=""/>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="box-row">
                <div class="box">
                    <p class="box-number">2</p>
                </div>
                <div class="box">
                    <p class="box-number">4</p>
                </div>
                <div class="box">
                    <p class="box-number">6</p>
                </div>
                <div class="box">
                    <p class="box-number">8</p>
                </div>
            </div>

            <div class="box-row">
                <div class="box">
                    <p class="box-number">2</p>
                </div>
                <div class="box">
                    <p class="box-number">4</p>
                </div>
                <div class="box">
                    <p class="box-number">6</p>
                </div>
                <div class="box">
                    <p class="box-number">8</p>
                </div>
            </div>

            <div class="box-row">
                <div class="box">
                    <p class="box-number">2</p>
                </div>
                <div class="box">
                    <p class="box-number">4</p>
                </div>
                <div class="box">
                    <p class="box-number">6</p>
                </div>
                <div class="box">
                    <p class="box-number">8</p>
                </div>
            </div>

            <div class="box-row">
                <div class="box">
                    <p class="box-number">2</p>
                </div>
                <div class="box">
                    <p class="box-number">4</p>
                </div>
                <div class="box">
                    <p class="box-number">6</p>
                </div>
                <div class="box">
                    <p class="box-number">8</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="box-down">
    <div class="FB-share">
        <div class="FB-logo">F</div>
        <p class="share-content">SHARE</p>
    </div>
    <div class="Hight-scare">   
        <div class="score-best-title">BEST</div>
        <p class="score-best" id="best-score"></p>
    </div>
</div>



<!--<div id="developing-div">
    <br/>
    <span> DEVELOPING </span> <br/>    
    <button id="capturebtn" type="submit" onclick="capture()">
        <span>CaptureGame</span>
    </button>
</div>-->

</body>

</html>