<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Skeleton
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902

-->
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link href="css/subtabs.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {

            /* 主畫面左側 menu 對應 main 大區塊  */
            $("#menu-ul li a").click(function () {
                var className = 'current_page_item';
                $('#menu-ul').children().removeClass(className);
                $(event.target).parent().addClass(className);
            });
            /* 主畫面左側 menu 對應 main 大區塊 END */

            /* 「功能」 menu 對應 三階段區塊  */
            $("#feature-stage-menu div a").click(function () {
                $("#feature-stage-menu div a").removeClass("this-on");
                $(this).addClass("this-on");

                $("#feature-stage1").hide();
                $("#feature-stage2").hide();
                $("#feature-stage3").hide();

                var href = $(this).attr("href");

                var div = GetDivByHerf(href);
                if (div !== null && div !== undefined) {
                    div.show();
                }


            });
            $("#feature-stage-menu div a:first").click();
            /* 「功能」 menu 對應 三階段區塊 END */

            /* 「技術」 menu 對應 三階段區塊  */
            $("#technics-stage-menu div a").click(function () {
                $("#technics-stage-menu div a").removeClass("this-on");
                $(this).addClass("this-on");

                $("#technics-stage1").hide();
                $("#technics-stage2").hide();
                $("#technics-stage3").hide();

                var href = $(this).attr("href");

                var div = GetDivByHerf(href);
                if (div !== null && div !== undefined) {
                    div.show();
                }


            });
            $("#technics-stage-menu div a:first").click();
            /* 「技術」 menu 對應 三階段區塊 END */

            /* 「問題」 menu 對應 三階段區塊  */
            $("#problem-stage-menu div a").click(function () {
                $("#problem-stage-menu div a").removeClass("this-on");
                $(this).addClass("this-on");

                $("#problem-stage1").hide();
                $("#problem-stage2").hide();
                $("#problem-stage3").hide();

                var href = $(this).attr("href");

                var div = GetDivByHerf(href);
                if (div !== null && div !== undefined) {
                    div.show();
                }


            });
            $("#problem-stage-menu div a:first").click();
            /* 「問題」 menu 對應 三階段區塊 END */


            /* 捲軸捲動時，自動將左側 Menu 跳到對應位置  */
            $(document).scroll(function() {
                var distance = 10000;
                var selected;
                var scrolloffset = $(document).scrollTop();

                $(".main-menu").each(function(i, obj) {
                    var item = $(obj);
                    var position = item.position().top;
                    var d = scrolloffset - position;
                    if ( d > -100 && d < distance) {  // -100 為寬容值 (滑動會比較 smooth)
                        selected = item;
                        distance = d;
                    }                  
                });
                   
                if (selected === undefined)
                    return;

                var className = 'current_page_item';
                $('#menu-ul').children().removeClass(className);
                var selectedMenu = $("#menu-ul li a[href='#" + selected.attr('id') + "']");
                if (selectedMenu === undefined || selectedMenu === null)
                    return;

                selectedMenu.parent().addClass(className);
            });

        });

        function GetDivByHerf(hrefstring) {
            var tempdiv;
            try {
                tempdiv = $(hrefstring);
                return tempdiv;
            }
            catch (err) {
                return undefined;
            }
        }

    </script>
    <style>
        .divpage {
            height: 100vh;
        }
    </style>



    <div id="page" class="container">
        <div id="header" style="position: fixed;">
            <div id="logo">
                <img src="images/pic02.jpg" alt="" />
                <h1>
                    <a href="#">Game2048</a>
                </h1>
                <span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span>
            </div>
            <div id="menu">
                <ul id="menu-ul">
                    <!--<li class="current_page_item"><a href="#homepage" accesskey="1" title="">Homepage</a></li>-->
                    <li class="current_page_item"><a href="#aboutus" title="" accesskey="1">About Us</a></li>
                    <li><a href="#features" accesskey="2" title="">Features</a></li>
                    <li><a href="#technics" accesskey="3" title="">Technics</a></li>
                    <li><a href="#problems" accesskey="4" title="">Problems &amp; Solutions</a></li>
                    <li><a href="https://edartsai.github.io/TeamWork2048V2/view/game2048.html" target="_blank" title="">Demo</a></li>
                </ul>
            </div>
        </div>
        <div id="main">
            <div id="aboutus" class="main-menu">
                <div id="p01" class="divpage">
                    <div id="banner">
                        <img src="images/game-2048-2.png" alt="" class="image-full" />
                    </div>
                    <div class="title">
                        <h2>緣起</h2>
                        <span class="byline">選擇 2048 當作目標的原因</span>
                    </div>
                    <p>
                        <span style="font-size: larger;"><strong>訴求</strong></span> 儘量少用後端技術，以<span>方便前端展示、使用流暢</span>為目標。
                    </p>
                    <p>
                        <span style="font-size: larger;"><strong>決議</strong></span> 以無須Server提供資料的小遊戲為目標，因此找到 <span style="color: red; margin-right: 0;"><strong>2048</strong></span>。
                    </p>
                </div>
                <div id="p02" class="divpage">
                    <div class="title">
                        <h2>分工</h2>
                        <span class="byline">適才適用、小材大用、無才不用</span>
                    </div>
                    <ul class="style1">
                        <li class="first">
                            <p class="date" style="width: 10em;">
                                <a href="#"><b>Edar.Tsai</b></a>
                            </p>
                            <h3>視覺總監</h3>
                            <p>
                                視覺風格設計、
                                View 畫面製作、
                                喇D賽、
                                幫出國的人整理桌面
                            </p>
                        </li>

                        <li>
                            <p class="date" style="width: 10em;">
                                <a href="#"><b>Jim.Liu</b></a>
                            </p>
                            <h3>技術指導</h3>
                            <p>
                                遊戲邏輯、
                                打雜、
                                喇D賽、
                                幫扭蛋調整姿勢、
                                早起晨跑
                            </p>
                        </li>
                    </ul>
                </div>

            </div>

            <div id="features" class="main-menu">
                <div id="p03" class="divpage">
                    <div class="title">
                        <h2>功能</h2>
                        <!--<span class="byline"></span>-->
                    </div>

                    <div id="feature-stage-menu" class="sub-tabs-menu" style="width:41%;">
                        <!--<div class="sub-tabs-line" ></div>-->
                        <div class="sub-tabs-links" >
                            <!--<b class='this-title this-on'>Title<em></em></b>-->
                            <a href="#feature-stage1" onclick="javascript: return false;" style="font-size: larger;">第一階段<em></em></a>
                            <a href="#feature-stage2" onclick="javascript: return false;" style="font-size: larger;">第二階段<em></em></a>
                            <a href="#feature-stage3" onclick="javascript: return false;" style="font-size: larger;">第三階段<em></em></a>
                        </div>
                    </div>

                    <div id="feature-stage1">
                        <ul class="style1">
                            <li class="first">
                                <p class="date">
                                    <a href="#"><b>100%</b></a>
                                </p>
                                <h3>遊戲邏輯</h3>
                                <p>
                                    <span>基礎遊戲邏輯，可以玩+可以計分就好。</span>
                                </p>
                            </li>

                            <li>
                                <p class="date">
                                    <a href="#"><b>100%</b></a>
                                </p>
                                <h3>遊戲畫面</h3>
                                <p>
                                    <span>簡單俐落的畫面風格。</span>
                                </p>
                            </li>
                            <li>
                                <p class="date">
                                    <a href="#"><b>100%</b></a>
                                </p>
                                <h3>最高分</h3>
                                <p>
                                    <span>與最強的自己競爭!!</span>
                                </p>
                            </li>
                            <li>
                                <p class="date">
                                    <a href="#"><b>100%</b></a>
                                </p>
                                <h3>遊戲畫面截圖</h3>
                                <p>
                                    <span>紀錄感動瞬間!!</span>
                                </p>
                            </li>
                            <li>
                                <p class="date">
                                    <a href="#"><b>50%</b></a>
                                </p>
                                <h3>展示網站</h3>
                                <p>
                                    <span>無套版，無裝飾，最純真的年代!!</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div id="feature-stage2">
                        <ul class="style1">
                            <li class="first">
                                <p class="date">
                                    <a href="#"><b>100%</b></a>
                                </p>
                                <h3>遊戲邏輯</h3>
                                <p>
                                    <span>基礎遊戲邏輯，根據動畫需求重新撰寫，功能強大。</span>
                                </p>
                            </li>
                            <li>
                                <p class="date">
                                    <a href="#"><b>70%</b></a>
                                </p>
                                <h3>動畫效果</h3>
                                <p>
                                    <span>由「移動」及「結合」兩種動作，創造流暢華麗的遊戲體驗。</span>
                                </p>
                            </li>
                            <li>
                                <p class="date">
                                    <a href="#"><b>40%</b></a>
                                </p>
                                <h3>FB分享</h3>
                                <p>
                                    <span>將感動分享給大家。</span>
                                </p>
                            </li>
                            <li>
                                <p class="date">
                                    <a href="#"><b>50%</b></a>
                                </p>
                                <h3>展示網站</h3>
                                <p>
                                    <span>重新美化上線，永遠分享最新最棒的資訊!!</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div id="feature-stage3">
                        <ul class="style1">
                            
                        </ul>
                    </div>

                </div>
            </div>

            <div id="technics" class="main-menu">
                <div id="p04" class="divpage">
                    <div class="title">
                        <h2>技術</h2>
                        <span class="byline">內外兼修、有才有德</span>
                    </div>
                    <div id="technics-stage-menu" class="sub-tabs-menu" style="width: 41%;">
                        <!--<div class="sub-tabs-line"></div>-->
                        <div class="sub-tabs-links">
                            <!--<b class='this-title this-on'>Title<em></em></b>-->
                            <a href="#technics-stage1" onclick="javascript: return false;" style="font-size: larger;">第一階段<em></em></a>
                            <a href="#technics-stage2" onclick="javascript: return false;" style="font-size: larger;">第二階段<em></em></a>
                            <a href="#technics-stage3" onclick="javascript: return false;" style="font-size: larger;">第三階段<em></em></a>
                        </div>
                    </div>

                    <div id="technics-stage1">
                        <p>目標:</p>
                        <ul class="style1">

                            <li class="first">遊戲功能建置</li>
                            <li>展示網站建置</li>
                        </ul>
                        <p>技術:</p>
                        <ul class="style1">
                            <li class="first">html</li>
                            <li>javascript</li>
                            <li>css</li>
                        </ul>
                    </div>
                    <div id="technics-stage2">
                        <p>目標:</p>
                        <ul class="style1">
                            <li>遊戲動畫</li>
                            <li>Facebook 互動分享</li>
                            <li>網站美化工作</li>
                            <li>RWD框架</li>
                            <li>瀏覽器相容性</li>
                        </ul>
                        <p>技術:</p>
                        <ul class="style1">
                            <li>scss</li>
                            <li>jquery</li>
                            <li>bootstrap</li>
                            <li>facebook api</li>
                            <li>other libs</li>
                        </ul>
                    </div>
                    <div id="technics-stage3">
                        <p>目標:</p>
                        <ul class="style1">
                            <li>以新前端框架技術重構遊戲及網站</li>
                            <li>使用模組整合工具達到彈性包版</li>
                            <li>SEO調校</li>
                        </ul>
                        <p>技術:</p>
                        <ul class="style1">
                            <li>reactjs</li>
                            <li>webpack</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="problems" class="main-menu">
                <div id="p05" class="divpage">
                    <div class="title">
                        <h2>問題與解決</h2>
                        <span class="byline">To be or not to be,it's a question.</span>
                    </div>

                    <div id="problem-stage-menu" class="sub-tabs-menu" style="width:41%;">
                        <!--<div class="sub-tabs-line" ></div>-->
                        <div class="sub-tabs-links">
                            <!--<b class='this-title this-on'>Title<em></em></b>-->
                            <a href="#problem-stage1" onclick="javascript: return false;" style="font-size: larger;">第一階段<em></em></a>
                            <a href="#problem-stage2" onclick="javascript: return false;" style="font-size: larger;">第二階段<em></em></a>
                            <a href="#problem-stage3" onclick="javascript: return false;" style="font-size: larger;">第三階段<em></em></a>
                        </div>
                    </div>
                    <div id="problem-stage1">

                    </div>
                    <div id="problem-stage2">

                    </div>
                    <div id="problem-stage3">

                    </div>
                </div>
            </div>

            <div id="copyright">
                <span>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a></span>
                <span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</span>
            </div>
        </div>
    </div>
</body>
</html>
